header{
    height: 60px;
    width: 100vw;
    box-shadow: 0 0 3px #AAAAAA;
    & .header.inner{
        width: 95%;
        display: flex;
        align-items: center;
        height: 100%;
        & h2{
            height: 100%;
            & a{
                box-sizing: border-box;
                height: 100%;
                font-size: 1.5em;
                font-weight: 700;
                cursor: pointer;
            }
        }
        & ul{
            margin-left: auto;
            display: flex; align-items: center;
            height: 100%;
            & li{
                height: 100%;
                & a{
                    display: flex; align-items: center; justify-content: center;
                    cursor: pointer;
                    &:hover{
                        background-color: #DDDDDD;
                    }
                    height: 100%;
                    padding: 0 15px;
                }
            }
        }
    }
}