div.productGrid.outer{
    width: 100%;
    display: flex; flex-direction: column;
    & .filters{
        & form{
            display: flex; 
            align-items: center;
            padding: 10px 0;
            & select{
                margin-left: 10px;
                padding: 5px;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
    & .productGrid.inner{
        width: 100%;
        display: grid;
        grid-auto-rows:auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        & .listing{
            width: 100%;
            display: flex; flex-direction: column; align-items: center;
            cursor: pointer;
            box-sizing: border-box;
            padding: 10px;
            &:hover{
                background-color: #EEEEEE;
                box-shadow: 0 0 5px #BBBBBB;
                border-radius: 10px;
            }
            & .image.outer{
                height: 400px;
                width: 100%;
                overflow: hidden;
                background-color: #CCCCCC;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 10px;
                margin-bottom: 10px;
            }
            & .text{
                width: 100%;
                display: flex; flex-direction: column;
                align-items: flex-start;
                & h3{
                    font-weight: 600;
                    font-size: 1.2em;
                }
                & p.bidValue{
                    font-size: normal;
                }
                & p.closedStatus{
                    width: fit-content;
                    border-radius: 10px;
                    color: white;
                    font-weight: 600;
                    padding: 3px 10px;
                    margin-top: 10px;
                    &.closed{
                        background-color: red;
                    }
                    &.open{
                        background-color: green;
                    }
                }
            }
        }
    }
}