{% extends "auctions/layout.html" %}
{% block body %}
<!-- <form onsubmit="handleSubmit(event)"> -->
<form action="/createListing" method="post" enctype="multipart/form-data">
    <label for="title">Title</label><br/>
    <input type="text" placeholder="Title" id="titleInput" name="title"><br/>
    <label for="category">Category</label><br/>
    <select name="category" id="categoryInput">
        <option value="misc" default>Miscellaneous</option>
        <option value="clothing">Clothing</option>
    </select><br/>
    <label for="currentHighestBid">Base Bid</label><br/>
    <input type="text" placeholder="Base Bid" id="bidInput"name='currentHighestBid'><br/>
    <label for="image">Image Upload: </label>
    <input type="file" name="image" id=""><br/>
    <button type="submit">Submit</button>
</form>
</body>
<script defer>
</script>
{% endblock %}