{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<section class="listing center">
    <div class="listing inner">
        <h2>
            {{ listing.0.title }}
        </h2>
        <div class="content">
            <div class="image" style="background-image:url('/media/{{listing.0.image}}') ;"></div>
            <div class="text">
                <div class="subsection desc">
                    <h3>Description</h3>
                    <p>{{listing.0.description}}</p>
                </div>
                <div class="subsection bidding">
                    <h3>Current Bid: $ {{currentHighestBid}}</h3>
                    {% if user.is_authenticated and not userEqual and not currentUserIsHighest and not listing.0.isClosed%}
                        <form class="biddingControls" onsubmit="placeBid(event)">
                            <input type="text" id="bidInput" placeholder="Place Bid">
                            <button type="submit">Submit</button>
                        </form>
                        <div id="bidMessage" class=""></div>
                    {% endif %}
                    {% if user.is_authenticated and userEqual and not currentUserIsHighest%}
                        <p>You cannot bid on this listing.</p>
                    {% elif user.is_authenticated and not userEqual and currentUserIsHighest%}
                        <p>You are the highest bidder.</p>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <p>Please <a href="/login">log in</a> to bid or to add this item to your watchlist.</p>
                    {% endif %}
                    {% if listing.0.isClosed%}
                    <p class="closedStatus">This listing has been marked as closed.</p>
                    {% endif %}
                </div>
                {% if user.is_authenticated%}
                    <div class="subsection watch">
                        {% if not userHasWatched%}
                        <button onclick="toggleWatch('watch')" class="notWatched">Watch</button>
                        {% else%}
                        <button onclick="toggleWatch('unwatch')" class="watched">Unwatch</button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="/static/auctions/listing.css">
<script defer>
    const currentHighestBid = parseFloat('{{currentHighestBid|safe}}')
    const listingID = parseInt('{{listing.0.id}}')
    const placeBid = (e) => {
        e.preventDefault()
        bidMessage.classList.add('off')
        const bid = parseFloat(bidInput.value)
        if(bid<=currentHighestBid){
            bidMessage.innerHTML = 'Bid Must Be Higher Than Current Value'
            bidMessage.classList.remove('off')
            return
        }
        fetch('/newBid',{
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                newBidValue: bid,
                listingID: listingID
            })
        })
        .then(res => res.json())
        .then(data => {
            if(data.status==='success'){
                bidInput.value = ''
                window.location.reload()
            }
        })
        .catch(e=>{
            console.log(e)
            bidMessage.innerHTML = 'Bid Must Be Higher Than Current Value'
        })
    }
    const toggleWatch = (state) => {
        fetch(`/setwatch/${state}/${listingID}`,{
            method: 'GET',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(res => res.json())
        .then(data => {
            console.log(data)
            window.location.reload()
        })
    }
</script>
{% endblock %}